@font-face {
  font-family: "lynojean";
  src: url("./Assets/lyno/lyno-jean_2-webfont.woff2") format("woff2"),
    url("./Assets/lyno/lyno-jean_2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lynostan";
  src: url("./Assets/lyno/lyno-stan_2-webfont.woff2") format("woff2"),
    url("./Assets/lyno/lyno-stan_2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lynoulys";
  src: url("./Assets/lyno/lyno-ulys_2-webfont.woff2") format("woff2"),
    url("./Assets/lyno/lyno-ulys_2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lynowalt";
  src: url("./Assets/lyno/lyno-walt_2-webfont.woff2") format("woff2"),
    url("./Assets/lyno/lyno-walt_2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "kobe";
  src: url("./Assets/kobe/kobe.woff2") format("woff2"),
    url("./Assets/kobe/kobe.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "tan";
  src: url("./Assets/tan/tan-pearl.woff2") format("woff2"),
    url("./Assets/tan/tan-pearl.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  cursor: none;
  margin: 0;
  padding: 0;
  font-family: "tan";
  box-sizing: border-box;
  //? bez ovog z-indexa hover ne radi na 3d spline objektu!
  z-index: 1;
}
*::before,
*::after {
  cursor: none;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5874em;
}
h3 {
  font-size: 1.2599em;
}
p,
a,
span {
  font-size: 1em;
}
small {
  font-family: serif;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.7937em;
}
::selection {
  background-color: rgb(242, 255, 0);
}

body {
  background-color: #a5222a;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0.7vw;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(0, 0, 0);
    border: 1px solid #aaa;
  }
  &::-webkit-scrollbar-track {
    margin-top: -5px;
    border-radius: 10px;
    background: none;
    border: 1px solid #ccc;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.666);
  }

  &::-webkit-scrollbar-thumb:active {
    background: rgb(0, 0, 0);
  }
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.444);
  z-index: 100;
}
.loading h1 {
  z-index: 9999999;
  font-size: 7em;
  color: black;
}
#cursor {
  will-change: transform, top, left;
  position: fixed;
  display: block;
  transform: translate(-50%, -50%);
  z-index: 999999999;
  pointer-events: none;
  overflow: hidden;
}
#spline,
.spline {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-container {
  top: 2em;
}

.project-container {
  bottom: 2em;
}
.main-container,
.project-container {
  position: absolute;
  left: 2em;
}
.project-show-div {
  overflow: hidden;
}
.project-info-p {
  font-family: "kobe";
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  padding-left: 1em;
  span {
    font-family: "kobe";
  }
  .link {
    text-decoration: underline;
  }
}
.project {
  margin: 0.8em 0;
  .project-info {
    display: flex;
    justify-content: center;
    align-items: center;
    .separator {
      font-weight: bold;
      margin: 0 0.3em;
    }
  }
  p {
    padding-left: 1em;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
    margin-top: 0.2em;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      margin-bottom: 0;
    }
  }
}
.btn {
  background: transparent;
  border-color: transparent;
  width: 1rem;
  height: 1rem;
  background: var(--clr-grey-special);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-red-special);
  margin-left: 1rem;
  align-self: center;
}
section {
  width: clamp(350px, 25vw, 500px);
}
.socials-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2em;
  right: 2em;
  .socials-icon {
    width: 2em;
    &:hover {
      opacity: 0.65;
    }
  }
}
hr {
  border: none;
  border-radius: 50px;
  height: 2px;
  background: rgba(0, 0, 0, 0.7);
  width: 2em;
}
img.svg {
  width: 44px;
}

@media (max-width: 760px) {
  .main-container {
    top: 1em;
    left: 3px;
  }
  .project-container {
    position: absolute;
    bottom: 0;
    width: 95%;
    left: 3px;
  }
  .socials-container {
    top: 1em;
    right: 3px;
  }
  .media-hide {
    display: none;
  }
  section {
    margin: auto;
    width: 100vw;
  }
}
